.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.comments{
  border: 2px solid;
  color:lightgray;
  object-fit: fill;
}

.logout{
  display: flex;
  justify-content: right;
}

.remove-underline {
  text-decoration: none;
  color:black
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}

.links-container {
  display: flex;
  justify-content: space-between;
}

.left{
  text-align: right;
}

.blogs{
  background-color: lightgray;
}

.commentsScrollable {
  height: 110px;
  display: flex; 
  background-color: lightgray;
  border: 1px solid black;
  overflow-y: scroll;
}

Button{
  padding: 20px
}

.blogsScrollable {
  height: 400px;
  display: flex; 
  background-color: lightgray;
  border: 1px solid black;
  overflow-y: scroll;
}

body, html {
  height: 50%;
}

.main{
  border: 5px solid;
}

.secondaryElems{
  padding: 50px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}